ul.pagination {
    /* display: inline-block; */
    padding: 0;
    margin: 0;

}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: blue;
    background-color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

ul.pagination li a.page_active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

ul.pagination li a.current_pg{
    color: black;
}